body {
  background-color: lightblue;
}

h2 {
  color: black;
  text-align: left;
  font-size: 20px;
}

#Very-Uncertain-finish{
    position:relative;
    top:25px;
}
#Uncertain-finish{
    position:relative;
    top:25px;
}
#Neutral-finish{
    position:relative;
    top:25px;
}
#Certain-finish{
    position:relative;
    top:25px;
}
#Very-Certain-finish{
    position:relative;
    top:25px;
}

#Very-Uncertain-fhere{
    position:relative;
    top:25px;
}
#Uncertain-fhere{
    position:relative;
    top:25px;
}
#Neutral-fhere{
    position:relative;
    top:25px;
}
#Certain-fhere{
    position:relative;
    top:25px;
}
#Very-Certain-fhere{
    position:relative;
    top:25px;
}

#Not-A-Reason-tech{
    position:relative;
    top:25px;
}
#Minimal-Reason-tech{
    position:relative;
    top:25px;
}
#Moderate-Reason-tech{
    position:relative;
    top:25px;
}
#Major-Reason-tech{
    position:relative;
    top:25px;
}
#I-prefer-not-to-answer-tech{
    position:relative;
    top:25px;
}

#Not-A-Reason-parents{
    position:relative;
    top:25px;
}
#Minimal-Reason-parents{
    position:relative;
    top:25px;
}
#Moderate-Reason-parents{
    position:relative;
    top:25px;
}
#Major-Reason-parents{
    position:relative;
    top:25px;
}
#I-prefer-not-to-answer-parents{
    position:relative;
    top:25px;
}

#Not-A-Reason-fix{
    position:relative;
    top:25px;
}
#Minimal-Reason-fix{
    position:relative;
    top:25px;
}
#Moderate-Reason-fix{
    position:relative;
    top:25px;
}
#Major-Reason-fix{
    position:relative;
    top:25px;
}
#I-prefer-not-to-answer-fix{
    position:relative;
    top:25px;
}
p{
    font-style: times-new-roman;
    font-size: 15px;
}
p2{
    position:relative;
    style="right: 100px;"
}