body {
  background-color: lightblue;
}

h2 {
  color: black;
  text-align: left;
  font-size: 20px;
}
#Very-Uncertain-finish{
    position:relative;
    top:25px;
}
#Uncertain-finish{
    position:relative;
    top:25px;
}
#Neutral-finish{
    position:relative;
    top:25px;
}
#Certain-finish{
    position:relative;
    top:25px;
}
#Very-Certain-finish{
    position:relative;
    top:25px;
}
#Very-Uncertain-fhere{
    position:relative;
    top:25px;
}
#Uncertain-fhere{
    position:relative;
    top:25px;
}
#Neutral-fhere{
    position:relative;
    top:25px;
}
#Certain-fhere{
    position:relative;
    top:25px;
}
#Very-Certain-fhere{
    position:relative;
    top:25px;
}
p {
  font-family: verdana;
  font-size: 20px;
}